@model QuanLyPhongMay_LichTH.Models.LICH

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiet_bd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiet_bd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiet_kt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiet_kt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP.Ten_lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.Ten_lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONG.Ten_phong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.Ten_phong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
