@model QuanLyPhongMay_LichTH.Models.GIAO_VIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GIAO_VIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_gv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_gv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gioi_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioi_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bo_mon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bo_mon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trinh_do)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trinh_do)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.Ten_khoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.Ten_khoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_gv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
