@model IEnumerable<QuanLyPhongMay_LichTH.Models.GIAO_VIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_gv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gioi_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bo_mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trinh_do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.Ten_khoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_gv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gioi_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaysinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bo_mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trinh_do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLogin.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.Ten_khoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_gv }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_gv }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_gv })
        </td>
    </tr>
}

</table>
