@model QuanLyPhongMay_LichTH.Models.LOP

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoc_ky)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoc_ky)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_sv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_sv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAO_VIEN.Ten_gv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAO_VIEN.Ten_gv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONHOC.Ten_mon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONHOC.Ten_mon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
