@model QuanLyPhongMay_LichTH.Models.MayTinh_ThietBi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MayTinh_ThietBi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MayTinh.Ten_mt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MayTinh.Ten_mt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MayTinh1.Ten_mt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MayTinh1.Ten_mt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MayTinh2.Ten_mt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MayTinh2.Ten_mt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThietBi.Ten_tb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThietBi.Ten_tb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
